/* Dashboard panel
----------------------------------*/

.dashboard-panel {
	margin-bottom: 2em;
	.media-wrapper {
		max-height: 17em;
		overflow-y: scroll;	
	}
	.media-wrapper--tall {
		max-height: 25em;
	}
	&:last-child {
		margin-bottom: 0;
	}
	::-webkit-scrollbar {
      width: .5em;
      @include respond-max($bp1) {
      	width: .25em;
      }
	}
	::-webkit-scrollbar-track {
	      background-color: transparent;
	}
	::-webkit-scrollbar-thumb {
	      background-color: rgba($color-brand-dark, .3);
	}
}