/* -- Generic image styling -- */
img.alignleft,
img.alignright {
	border: 1px solid #ccc;
	padding: .25em; }

/* -- WP caption images -- */
.wp-caption {
	text-align: center;
	margin-bottom: $baseline;
	
	img {
		display: inline; }
}

.wp-caption-text {
	color: #999;
	margin: 0;
	padding: .5em 0;
	font-size: .875em; }

/* -- WP images -- */
.alignleft {
	@include respond-min($bp1) {
		float: left;
		margin-right: $media-img-gutter;
		margin-bottom: $baseline; }
}	
	
.alignright {
	@include respond-min($bp1) {
		float: right;
		margin-left: $media-img-gutter;
		margin-bottom: $baseline; }	
}
	
/* Gravity Forms
----------------------------------*/
.validation_message	{
	@extend .warning; }

.gfield_required {
	font-weight: normal;
	font-size: 80%;
	color: #666;
	margin-left: .5em; }

.gfield_error input,
.gfield_error textarea {
	border-bottom-color: #900; }

.gfield_description{
	padding-top: .35em; }
	
.gfield.checkbox {
	padding-left: 0;
		
	.gfield_checkbox {
		margin-top: 0;	
		
		label {
			font-weight: normal;
			padding-bottom: 0; }	
	}
}