/* Container / Inner
----------------------------------*/
.container {
	opacity: 0; // fade in container on load with jQuery
	margin: 0 auto;
	width: 85%;
	min-width: 15em;
	max-width: $container-max-width; }

/* Grids (Griddle - http://goo.gl/P1JKB)
----------------------------------*/
@import "../libs/_griddle";

// Create 2, 3, 6 and 12 column grids
@include griddle-build(2);

@include respond-min($bp1) {
	@include griddle-build(2 3, "--bp1");
}
@include respond-min($bp2) {
	@include griddle-build(2 3 4, "--bp2");
}	
@include respond-min($bp3) {
	@include griddle-build(2 3 4 5 6 12, "--bp3");
}	
@include respond-min($bp4) {
	@include griddle-build(2 3 4 5 6 12, "--bp4");
}

.panel {
	display: table; 
	height: 100%; 
	float:left; 
	overflow: hidden;
	width: 33.33%;
}

.panel-wrap {
	height: 100%;
}

.panel-container {
	display: table-cell; 
	vertical-align: middle;
	padding-left: 20%;
	padding-right: 20%;
}