/* Media Object - http://goo.gl/Xf6MJ
----------------------------------*/

.media {
	margin-bottom: $baseline;
	@extend .cf; }
	
.media__img img,
img.media__img {
	margin-bottom: $baseline;
	
	@include respond-min($bp2) {
		margin-bottom: 0; }	
}


.media__body {	
	@include respond-min($bp2) {
		overflow: hidden;
	}

	&:last-child{
		margin-bottom: 0;
	}
}


.media__img {
	@include respond-min($bp2) {
		float: left;
		margin-bottom: 0;
		margin-right: $media-img-gutter; }
}

.media--flipped{
	.media__img {
		@include respond-min($bp2) {
			float: right;
			margin-right:0;
			margin-left: $media-img-gutter;
 		}
	}
}
	
/* Island Object - http://goo.gl/1XYHG
----------------------------------*/
.island {
	padding: $island-padding;
	background-color:$color-comp;
	margin-bottom:1em;

	> :last-child {
		margin-bottom: 0; }
}

.islet {
	padding: $islet-padding; }

	
/* Nav Objects - http://goo.gl/QjtO6
----------------------------------*/

.nav{
	@extend .list-unset, .cf;
}

.nav--inline { @include nav-inline; }
.nav--divided { @include nav-divided; }
.nav--stacked { @include nav-stacked; }
	
// create blocked links
.nav--blocked a {
	display: block;
	padding: .5em;
	background-color: #F5F5F5; 
}

/* Primary Nav
----------------------------------*/
.nav--primary {
	@include respond-min($bp1) {
		@include nav-inline; }
}


/* Buttons
----------------------------------*/

.button-red { background-color: $color-brand-highlight;  @include box-shadow(0 2px 0 darken($color-brand-highlight, 20%)) }
.button-blue { background-color: $color-brand-dark;  @include box-shadow(0 2px 0 darken($color-brand-dark, 20%)) }
.button-green { background-color: $color-brand-mid; @include box-shadow(0 2px 0 darken($color-brand-mid, 20%)) }

/* Imports
----------------------------------*/

@import "core/modules/_homepage";

/* Header
----------------------------------*/

.header, .footer {
	padding-top: .8em;
	padding-bottom: .8em;
}

.header--designer {
	background-color: $color-brand-light;
}

.header {
	margin-bottom: 2em;
}

/* Page
----------------------------------*/

.page-title {
	font-size: 1.4em;
	float: left;
	margin-top: 0;
	margin-bottom: 0;
	color: white;
}

.page-logo {
	line-height: 1.7;
	float: right;
	margin-top: 0;
	margin-bottom: 0;
	color: white;
	font-size: 1em;
	a {
		color: white;
	}
}

/* Footer
----------------------------------*/

.footer {
	background-color: $color-background-light;
	color: $color-brand-dark;
	a {
		color: $color-brand-dark;
	}
}

.footer-logo {
	text-align: right;
	a {
		color: $color-brand-dark;
	}
}

.footer-links { 
	line-height: 1.8;
	li {
		display: inline-block;
		*display:inline;
	    zoom:1;
	    font-size: .8em;
	    margin: 0;
	}
}

/* Sidebar
----------------------------------*/

.user-avatar {
	width: 100%;
}

.user__portfolio, .user__sidebar {
	background-color: $color-background-light;
}

.user-title {
	font-size: 1.4em;
	margin: $baseline/2 0 0;
	font-weight: 500;
}

.user-desc {
	font-size: .9em;
}

.user-job, .user-geo {
	font-size: .9em;
	margin: $baseline/3 0 $baseline/3;
	font-weight: 600;
}

.user__sidebar--info {
	padding: 1.5em;
}


/* Call to action
----------------------------------*/

.call-to-action {
	text-align: center;
	margin: 2em 0;
	.call-to-action--title {
		color: white;
		font-weight: 600;
	}
}