@charset "UTF-8";

/* Media Object - http://goo.gl/Xf6MJ
----------------------------------*/

.media {
	padding: $baseline/2 1em;
	@extend .cf; 
	&:nth-child(odd) {
		background-color: rgba(white, 0.8);
	}
}
	
.media__img img,
img.media__img {
	margin-bottom: 0; 
}


.media__body {	
	overflow: hidden;
	margin-top: .2em;
	h1,h2,h3,h4,p {
		margin-top: 0;
		margin-bottom: 0;
	}
    h4 {
		font-weight: 600;
		font-size: 1.1em;
	}
	p {
		font-size: .9em;
		margin-bottom: 0;
	}
	&:last-child{
		margin-bottom: 0;
	}
	@include respond-max($bp1) {
		font-size: .9em;
	}
}

.media__side {
	text-align: right;
	float: right;
	p {
		font-size: .9em;
		margin-bottom: 0;
	}
	@include respond-max($bp1) {
		display: none;
	}
}

.media__img, .media__button {
	float: left;
	margin-bottom: 0;
	margin-right: $media-img-gutter;
	@include respond-max($bp1) {
		margin-right: $media-img-gutter/2;
	}
}

.media--flipped{
	.media__img, .media__button {
		float: right;
		margin-right:0;
		margin-left: $media-img-gutter;
		@include respond-max($bp1) {
			margin-right: $media-img-gutter/2;
		}
	}
}

.media__img--avatar {
	width: 3.5em;
	height: 3.5em;
	border-radius: 10em;
	@include respond-max($bp1) {
		width: 2.5em;
		height: 2.5em;
	}
}

.media-1-3 {
	width: 15%;
}

.media-2-3 {
	width: 80%;
}

.media-1-3, .media-2-3 {
	display: inline-block;
	vertical-align: top;
	@include respond-max($bp1) {
		width: 100%;
	}
}


/* Flag Object - http://csswizardry.com/2013/05/the-flag-object/
----------------------------------*/

.flag-wrapper {
	margin: 1em;
}

.flag {
    display: table;
    width: 100%;
}

    .flag__image,
    .flag__body {
        display: table-cell;
        vertical-align: middle;
        h1,h2,h3,h4,p {
			margin-top: 0;
			margin-bottom: 0;
		}

        .flag--top & {
            vertical-align: top;
        }

        .flag--bottom & {
            vertical-align: bottom;
        }

    }

    .flag__image, .flag__button {
        padding-right: 10px;

        > img {
            display: block;
            max-width: none;
        }

        .flag--rev & {
            padding-right: 0;
            padding-left: 10px;
        }

    }

    .flag__body {
        width: 100%;
    }
	
/* Island Object - http://goo.gl/1XYHG
----------------------------------*/
.island {
	padding: $island-padding;
	background-color:$color-comp;
	margin-bottom:1em;

	> :last-child {
		margin-bottom: 0; }
}

.islet {
	padding: $islet-padding; }

	
/* Nav Objects - http://goo.gl/QjtO6
----------------------------------*/

.nav{
	@extend .list-unset, .cf;
}

.nav--inline { @include nav-inline; }
.nav--divided { @include nav-divided; }
.nav--stacked { @include nav-stacked; }
	
// create blocked links
.nav--blocked a {
	display: block;
	padding: .5em;
	background-color: #F5F5F5; 
}

/* Primary Nav
----------------------------------*/
.nav--primary {
	@include respond-min($bp1) {
		@include nav-inline; }
}


@import "modules/_buttons";

/* Header
----------------------------------*/

.header, .footer {
	padding-top: .8em;
	padding-bottom: .8em;
}

.header {
	margin-bottom: 2em;
	background-color: $color-brand-dark
}

.header--designer {
	background-color: $color-brand-light;
}

.header--developer {
	background-color: $color-brand-dark;
}

.header--employer {
	background-color: $color-brand-mid;
}

.header--panel {
	h1, h2, h3, h4 {
		margin: 0;
		color: white;
		font-size: .95em;
		padding: .7em 1em;
	}
}

/* Page
----------------------------------*/

.page-title {
	font-size: 1.4em;
	float: left;
	margin-top: 0;
	margin-bottom: 0;
	color: white;
}

.page-logo {
	line-height: 1.7;
	float: right;
	margin-top: 0;
	margin-bottom: 0;
	color: white;
	font-size: 1em;
	a {
		color: white;
	}
}

/* Footer
----------------------------------*/

.footer {
	background-color: $color-background-light;
	color: $color-brand-dark;
	position: relative;
	bottom: 0;
	margin-top: 2em;
	a {
		color: $color-brand-dark;
	}
}

.footer__logo {
	text-align: right;
	width: auto;
	a {
		color: $color-brand-dark;
	}
	@include respond-max($bp1) {
		text-align: left;
		width: 100%;
	}
}

.footer__links { 
	line-height: 1.8;
	width: auto;
	li {
		display: inline-block;
		*display:inline;
	    zoom:1;
	    font-size: .8em;
	    margin: 0;
	    &:after {
	    	padding: 0 .25em 0 .5em;
			content: '•';
		}
		&:last-child {
			 &:after {
				content: none;
			}
		}
	}
	@include respond-max($bp1) {
		width: 100%;
	}
}

/* Sidebar
----------------------------------*/

.user-sidebar__avatar {
	img {
		width: 100%;
	}
}

.portfolio, .user-sidebar, .dashboard-panel {
	background-color: $color-background-light;
	@include box-sizing(border-box);
	position: relative;
}

.user-sidebar__title {
	font-size: 1.35em;
	margin: $baseline/2 0 .2em;
	font-weight: 600;
	@include respond-max($bp2) {
		margin-top: $baseline/3;
	}
}

.user-sidebar__job, .user-sidebar__geo {
	font-size: .9em;
	margin-top: 0;
	margin-bottom: $baseline/3;
	font-weight: 500;
}

.user-sidebar__price {
	background-color: $color-brand-highlight;
	border-radius: 10em;
	color: white;
	font-weight: 600;
	font-size: .9em;
	width: 3.5em;
	height: 3.5em;
	top: -1.2em;
	left: -1.2em;
	position: absolute;
	h5 {
		margin: 0;
		line-height: 2.5em;
	}
	small {
		display: block;
		line-height: 0;
		font-size: .7em;
		margin-top: -.5em;
	}
}


/* Portfolio
----------------------------------*/

.portfolio__headings-bg {
	background-color: #f0eded;
	font-size: .8em;
	font-weight: 500;
	padding-left: 5%;
	padding-right: 1.2em;
	line-height: 2;
	margin-bottom: 1.8em;
	margin-top: 0;
}


.portfolio__headings {
	margin: 0;
	position: relative;
	li {
		display: inline-block;
		*display: inline;
		zoom: 1;
		margin-bottom: 0;
		position: relative;
		padding: .5em 1.4em .4em;
		a {
			color: #7f7e7e;
		}
		&.active {
			background-color: $color-brand-dark;
			color: white;
			a {
				color: white;
			}
			&:after {
				content: "";
				width: 0; 
				height: 0; 
				border-left: .75em solid transparent;
				border-right: .75em solid transparent;
				border-top: .75em solid $color-brand-dark;
				position: absolute;
				bottom: -.7em;
				left: 50%;
				margin-left: -.75em;
			}
		}
	}
}

.portfolio__headings--alt {
	li {
		&.active {
			background-color: $color-brand-light;
			color: white;
			&:after {
				border-top-color: $color-brand-light;
			}
		}
	}
}

/* Skills
----------------------------------*/

.skills-wrapper {
	margin-bottom: .5em;
}

.skills--developer {
	&:nth-child(odd) {
		padding-right: 1em; 
		@include respond-max($bp1) {
			padding: 0;
		}
	}
	&:nth-child(even) {
		padding-left: 1em; 
		@include respond-max($bp1) {
			padding: 0;
		}
	}
}

.skills__tag {
	position: relative;
	font-size: .7em;
	background-color: #33485d;
	width: auto;
	display: inline-block;
	padding: .5em 1.1em;
	line-height: 1.55;
	color: white;
	margin-bottom: 1em;
	margin-right: 2em;
	&:last-child {
		margin-right: 0;
	}
	&:after {
		content: "";
		background-image: url("../img/tag-end.svg");
		background-size: cover;
		width: 1.2em;
		position: absolute;
		height: 2.5em;
		right: -1.2em;
		background-repeat: no-repeat;
		bottom: 0;
	}
}

.skills__bar {
	background-color: #f0eded;
	font-size: .8em;
	font-weight: 500;
	line-height: 2;
	margin-bottom: 1.5em;
	font-weight: 600;
	font-size: .8em;
	margin-top: 0;
	overflow: hidden;
	@include box-sizing(border-box);
	.skill__name {
		background-color: $color-brand-light;
		padding: .6em .6em .6em 1.2em;
		color: white;
		@include box-sizing(border-box);
		&[data-skill="5"] {
			width: 100%;
		}
		&[data-skill="4"] {
			width: 75%;
		}
		&[data-skill="3"] {
			width: 50%;
		}
		&[data-skill="2"] {
			width: 25%;
		}
		&[data-skill="1"] {
			width: 0%;
		}
	}
}

/* Call to action
----------------------------------*/

.call-to-action {
	text-align: center;
	margin-top: 2em;
	flex: 1;
	.call-to-action__title {
		color: white;
		font-weight: 600;
	}
	button {
		min-width: 14em;
	}
}

.price-per-hour {
	margin-top: .35em;
	h5 {
		margin: 0;
		text-align: center;
		font-weight: 600;
	}
	span {
		font-size: .7em;
		display: block;
		line-height: .9;
	}
}

.currency-button {
	background-color: $color-brand-mid;
	border-radius: 10em;
	color: white;
	font-weight: 600;
	font-size: .9em;
	width: 3.5em;
	height: 3.5em;
}

.currency {
	line-height: 3.5em;
	text-align: center;
	display: block;
}

@import "modules/_dashboard";
