@import "../libs/_normalize";
/*----------------------------------------------------------------------------------------*\
  $.General Defaults
\*----------------------------------------------------------------------------------------*/
html { overflow-y: scroll; -webkit-font-smoothing: antialiased; }

/* -- Selections -- */
::-moz-selection { background: rgba(102,102,102,.5); color: #FFF; text-shadow: none; }
::selection { background: rgba(102,102,102,.5); color: #FFF; text-shadow: none; }
a:link { -webkit-tap-highlight-color: rgba(102,102,102,.5); }

/* -- Text-Level -- */
hr { display: block; clear: both; height: 1px; border: 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { font-style: italic; font-weight: bold; }
pre { overflow-x: auto; }
address { white-space: pre-line; }

/* -- Embedded -- */
img { display: block; margin: 0 auto; font-style: italic; color: #666; vertical-align: middle; }
img[width] { width: auto !important; }
img[height] { height: auto !important; }
img, audio, canvas, embed, object, video { max-width: 100%; }
iframe { display: block; }
// Google maps image bug
iframe[src*="maps.google"] img { max-width: auto; margin: auto; }

/* -- Tables -- */
table { width: 100%; }
td { vertical-align: top; }
th, caption { text-align: left; }

/* -- Forms -- */
form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label, select { cursor: pointer; }
legend { padding: .3em .6em; *margin-left: -7px; }
button, input { line-height: normal; }
input, input[type=search], select, textarea { width: 100%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
button, html input[type=button], input[type=reset], input[type=submit] { width: auto; }
input[type=file] { width: auto; border: 0; padding: 0; }
// helper class added via jQuery
.checkbox {
	position: relative;
	padding: 0 0 0 1.55em;
	width: 50%;
	display: inline-block;
	margin: 0 0 1em;
	@include box-sizing(border-box);
	
	label {
		padding-bottom: 0; 
		font-size: .8em;
	}
	
	input {
		position: absolute;
		left: 0;
		top: .4em;
	}	
}
form ul, form ol { list-style: none; margin-left: 0; margin-bottom: 1em; }
form li { margin-bottom: .5em; }
form li:last-child, fieldset:last-child { margin-bottom: 0; }
form br { display: none; }
textarea { resize: vertical; } 
// expandingText jQuery plugin
textarea, .expandingText { min-height: 8em; }

/*----------------------------------------------------------------------------------------*\
 $.Project Defaults
\*----------------------------------------------------------------------------------------*/
html {
	font-size: 100%;
	@include respond-min($bp3) {
		font-size: 125%; }
}

body {
	@include font-sans;
	line-height: 1.5;
	height: 100%;
	color: $color-text;
	overflow-x: hidden;
	background-color: $color-background;
}

/* -- Vertical Rhythm -- */
h1, h2, h3, h4, h5, h6 { margin-bottom: .65em; margin-top: 1.5em; }
h1, blockquote, pre, p, ul, ol, dl, hr { margin-top: 0; }
p, ul, ol, dl, hr, form, table, blockquote, pre { margin-bottom: $baseline; }
hr { border-top: 1px solid $color-keyline; }
blockquote > :last-child, ul > :last-child, ol > :last-child, dl > :last-child { margin-bottom: 0; }

/* -- Headings -- */
h1, .as-h1 { line-height: 1.333; font-size: 2em;  }	
h2, .as-h2 { line-height: 1.4; font-size: 1.5em; }
h3, .as-h3 { line-height: 1.5; font-size: 1.25em; }
h4, .as-h4 { line-height: 1.5; font-size: 1.125em; }	
h5, .as-h5 { line-height: 1.5; font-size: 1em; }
h6, .as-h6 { line-height: 1.5; font-size: 0.875em; }
	
/* -- Lists -- */
ul, ol { margin-left: 2em; padding-left: 0; }
li ul, li ol { margin-top: $baseline / 2; margin-bottom: 0; }
dt { font-weight: bold; }
dd { margin-left: 0; margin-bottom: $baseline / 2; font-style: italic; }

/* -- Tables -- */
caption { padding-bottom: .5em; font-style: italic; }
th, td { padding: .25em .5em; font-size: .9em; padding: 1em;
	*:last-child {
		margin-bottom: 0;
	}
}
tr:nth-child(odd) td { background-color: #F6F6F6; }
th, legend { font-weight: bold; background: $color-comp; color: white; padding: .5em 1em; font-size: .9em;}	
td { background-color: #F6F6F6; border-top: .5em solid white; border-bottom: .5em solid white;}

/* -- Forms -- */

form {
	>input {
		&:first-child {
			margin-top: 0;
		}
	}
}
 
label { display: block; font-weight: bold; font-size: .75em;}
textarea { line-height: 1.5; }

.select-container {
	position: relative;
	clear: both;
	overflow: hidden;
	select {
		width: 100%;
		padding: .5em;
		border: 1px solid #eee;
		color: $color-brand-dark;
		@include appearance(none);
		border-radius: 0;
		text-indent: 0.01px;
 		text-overflow: "";
		margin: $baseline/2.5 0;
		background-color: #FFFFFF;
		background-image: url('../img/select-bg.svg');
		background-repeat: no-repeat;
		background-position: 97% center;
		background-size: .4em;
		@include respond-max($bp1) {
			margin: $baseline/3 0;
		}
	}
}


.select-container--alt {
	select {
		background-color: #f7f7f7;
		padding: .7em;
	}
}

.field-heading {
	margin-bottom: .5em;
	margin-top: .5em;
}

input:not([type=checkbox]),
textarea {
	padding: .5em;
	border: 1px solid;
	color: $color-brand-dark;
	background-color: #FFFFFF;
	-webkit-appearance: none;
	border-radius: 0;
	border: 1px solid #eee;
	margin: $baseline/2.5 0;
	@include respond-max($bp1) {
		margin: $baseline/3 0;
	}
}

button,
.btn:link,
input[type=submit] {
	display: inline-block;
	padding: .9em 1.5em .8em;
	font-size: .8em;
	@include box-shadow(0 3px 0);
	border: 0;
	@include border-radius;
	min-width: 8em;
	color: #FFF;
	background-color: $color-comp;
	a, a:hover, a:visited {
		color: white;
	}
	&:hover {
		position: relative;
		top: .1em;
		@include box-shadow(0 2px 0);
	}
	@include respond-max($bp4) {
		min-width: 0;
	}
}

input[type=text], textarea, button {
	&:focus {
		outline: none;	
	}
}

/* -- Blockquotes -- */
blockquote {
	margin-left: 0;
	margin-right: 0;
}
blockquote { @include font-sans; font-style: italic; clear: both;}
blockquote p { font-size: 1.35em; }
blockquote p + .source { margin-top: -$baseline; }
.source { display: block; @include font-sans; font-size: 1em; font-weight: bold; font-style: normal; margin-top: .5em;}
.source:before { content:"\2013\0020"; }


/* Links
----------------------------------*/

a {
	text-decoration: none;
	color: $color-link; }

/* -- visited -- */
a:visited {
	color: $color-link; }
	
.btn:visited {
	@extend .btn; }

/* -- hovers -- */
a:hover {
	color: $color-link-hover; }

%reset-hover {
	@include hover-reset; }

/*----------------------------------------------------------------------------------------*\
 $.Asset Fonts
\*----------------------------------------------------------------------------------------*/
@charset "UTF-8";
@include icon-font;

.icon--marg:before {
	top: 0;  
	width: 1em;
}

.icon--clock:before { content: '\e803'; } /* '' */
.icon--users:before { content: '\e800'; } /* '' */
.icon--location:before { content: '\e805'; } /* '' */
.icon--calendar:before { content: '\e806'; } /* '' */
.icon--male:before { content: '\e807'; } /* '' */
.icon--globe:before { content: '\e808'; } /* '' */
.icon--briefcase:before { content: '\e809'; } /* '' */
.icon--check:before { content: '\e811'; } /* '' */
.icon--attach:before { content: '\e804'; } /* '' */
.icon--sitemap:before { content: '\e80b'; } /* '' */
.icon--lightbulb:before { content: '\e80c'; } /* '' */
.icon--search:before { content: '\e801'; } /* '' */
.icon--home:before { content: '\e802'; } /* '' */
.icon--bookmark:before { content: '\e80d'; } /* '' */
.icon--star:before { content: '\e80e'; color: #E7E948; float: left; top: 5px;} /* '' */
.icon--star-alt:before { content: '\e80e'; color: #E7E948; float: left; top: 9px;} /* '' */
.icon--down-micro:before { content: '\e80f'; } /* '' */
.icon--magic:before { content: '\e80a'; } /* '' */
.icon--cancel:before { content: '\e810'; float: right; margin-right: 0; } /* '' */