/* Site wrapping
----------------------------------*/

.site {
	display: flex;
	height: 100%;
	min-height: 100vh;
	flex-direction: column; 
	@include respond-max($bp3) {
		height: 500px;
		min-height: 0;
		display: block;
	}
}

.site-wrap {
	height: 100%;
	padding-top: 5.5em;
	@include box-sizing(border-box);
}

.site-wrap--page {
	padding-top: 3em;
}

.site-wrap--home {
	padding-top: 0;
}

.home {
	height: 100%;
}

/* Container / Inner
----------------------------------*/

.container {
	margin: 0 auto;
	width: 90%;
	min-width: 15em;
	max-width: $container-max-width; 
}

.container--restrict {
	max-width: 55em;
}

.container__inner {
	@include respond-max($bp1) {
		width: 85%;
		margin: auto;
	}
	padding-left: 5%;
	padding-right: 5%;
}

/* Off canvas
----------------------------------*/
@import "../libs/_off-canvas";

/* Grids (Griddle - http://goo.gl/P1JKB)
----------------------------------*/
@import "../libs/_griddle";

// Create 2, 3, 6 and 12 column grids
@include griddle-build(2);

@include respond-min($bp1) {
	@include griddle-build(2 3, "--bp1");
}
@include respond-min($bp2) {
	@include griddle-build(2 3 4, "--bp2");
}	
@include respond-min($bp3) {
	@include griddle-build(2 3 4 5 6 12, "--bp3");
}	
@include respond-min($bp4) {
	@include griddle-build(2 3 4 5 6 12, "--bp4");
}

/* Panels
----------------------------------*/

.panel {
	display: table; 
	height: 100%; 
	float:left; 
	overflow: hidden;
	@include respond-max($bp2-5) {
		width: 100%;
		float: none;
	}
}

.panel-1-1 {
	width: 100%;
	@include respond-max($bp2-5) {
		height: 100%;
	}
}

.panel-1-3 {
	width: 33.33%;
	@include respond-max($bp2-5) {
		height: 33.33%;
		width: 100%;
	}
}

.panel-wrap {
	height: 100%;
}

.panel__container {
	display: table-cell; 
	vertical-align: middle;
	padding-left: 20%;
	padding-right: 20%;
	@include box-sizing(border-box);
}

/* Module layout
----------------------------------*/

.module {
	margin-bottom: 2em;
	padding: 1.5em;
	.grid__cell:last-of-type p:last-child, .grid__cell:last-of-type img:last-child {
		margin: 0;
	}
	> p:last-child, ul:last-child, ul li:last-of-type, iframe:last-child {
		margin-bottom: 0;
	}
	&:last-child {
		margin-bottom: 0;
	}
}

.module--half-pad {
	padding: .75em;
}

.module--inline {
	display: inline-block;
	zoom: 1;
}

.module--img-list {
	margin: 0;
	padding: 0;
	list-style: none;
	.module--img-list__item {
		display: inline-block;
		margin-bottom: 0;
	}
}

.module-sidebar {
	margin-bottom: $baseline;
	padding: 1.5em;
	.grid__cell:last-of-type p:last-child, .grid__cell:last-of-type img:last-child {
		margin: 0;
	}
	> p:last-child, ul:last-child, ul li:last-of-type, iframe:last-child {
		margin-bottom: 0;
	}
}

.module > *:last-child,
.module > *:last-child > *:last-child,
.module > *:last-child > *:last-child > *:last-child {
  margin-bottom: 0;
}

.module--no-pad {
	padding: 0;
}

.module-2-3 {
	width: 63.33%;
	@include respond-max($bp3-5) {
		width: 58.5%;
	}
	@include respond-max($bp2) {
		width: 100%;
	}
}

.module-1-3 {
	width: 32.33%;
	@include respond-max($bp3-5) {
		width: 37%;
	}
	@include respond-max($bp2) {
		width: 100%;
	}
}

.module-1-2 {
	width: 48.5%;
	@include respond-max($bp2) {
		width: 100%;
	}
}

.module-1-4 {
	width: 25%;
	@include respond-max($bp4) {
		width: 33.333333%;
	}
	@include respond-max($bp2) {
		width: 50%;
	}
	@include respond-max($bp1) {
		width: 100%;
	}	
}

.module-1-1 {
	width: 100%;
}

.module__avatar {
	padding: 6px;
	display: inline-block;
}

/* Header/Footer
----------------------------------*/

.header, .footer {
	max-height: 3em;
	line-height: 3em;
}

.footer--push {
	flex: 1;
}
