@charset "UTF-8";

/* Module imports
----------------------------------*/

@import "core/modules/_media";
@import "core/modules/_flag";
@import "core/modules/_nav";	
@import "core/modules/_header";
@import "core/modules/_footer";
@import "core/modules/_article";
@import "core/modules/_call-to-action";
@import "core/modules/_user-info";
@import "core/modules/_polaroid";
@import "core/modules/_ribbon";
@import "core/modules/_homepage";
@import "core/modules/_panels";
@import "core/modules/_buttons";
@import "core/modules/_badges";
@import "core/modules/_skills";
@import "core/modules/_user-module";
@import "core/modules/_dashboard";
@import "core/modules/_forms";
@import "core/modules/_overlay";
@import "core/modules/_welcome";
@import "core/modules/_content-page";

/* Misc
----------------------------------*/

.section {
	padding: 3.5em 0;
	@include respond-max($bp3) {
		padding: 1.5em 0;
	}
}

.section__content {
	h1,h2,h3,h4 {
		margin-top: 0;
	}
	*:last-child {
		margin-bottom: 0;
	}
}

.section__img {
	max-width: 18.5em;
}

.iphone-img {
	margin-top: -10em;
	margin-bottom: -3.5em;
	@include respond-max($bp3-5) {
		margin-top: 1em;
	}
	@include respond-max($bp3) {
		margin-top: -6em;
	}
	@include respond-max($bp2) {
		margin-top: 0;
	}
}

.intro-quote { 
	@include font-serif; 
	font-size: 2em; 
	margin: .5em 0; 
	.source { @include font-serif; font-size: .6em; } 
	@include respond-max($bp1-5) {
		margin: .75em 0;
		font-size: 1.5em;
	}
}

.subtle-link, .subtle-link:visited {
	color: darken($color-background-light, 50%);
}