// Major Breakpoints
$bp1: 30em;
$bp2: 48em;
$bp2-5: 55em;
$bp3: 62em;
$bp4: 78em;

// Colours
$color-brand-light: #6dbcdb;
$color-brand-mid: #77c462;
$color-brand-dark: #2c3e50;

$color-text: #222;
$color-comp: #CDCCB7;
$color-background: $color-brand-dark;

$color-link: #316CB2;
$color-link-visited: #316CB2;
$color-link-hover: #222;

// Typography
$baseline: 1.5em;
$font-sans: "Proxima Nova", sans-serif;
$font-serif: serif;

// Borders
$color-keyline: #999;

// Layout
$container-max-width: 68.5em;
$media-img-gutter: 2em;
$island-padding: 1.5em;
$islet-padding: $island-padding / 2;

// Asset fonts
$icon-font-url: "../fonts/Fontello";
$icon-font-family: "Fontello";