// Major Breakpoints
$bp1: 30em;
$bp1-5:36em;
$bp2: 48em;
$bp2-5: 55em;
$bp3: 62em;
$bp3-5: 74em;
$bp4: 82em;

// Colours
$color-brand-light: #6dbcdb;
$color-brand-mid: #77c462;
$color-brand-dark: #2c3e50;
$color-brand-highlight: #fc4349;

$color-text: $color-brand-dark;
$color-comp: #CDCCB7;
$color-background: #33485d;
$color-background-light: #f7f7f7;

$color-link: #316CB2;
$color-link-visited: #316CB2;
$color-link-hover: #222;

// Typography
$baseline: 1.5em;
$font-sans: "proxima-nova", sans-serif;
$font-serif: serif;

// Borders
$color-keyline: #999;

// Layout
$container-max-width: 68.5em;
$media-img-gutter: 2em;
$island-padding: 1.5em;
$islet-padding: $island-padding / 2;

// Asset fonts
$icon-font-url: "../fonts/Fontello";
$icon-font-family: "Fontello";