// Major Breakpoints
$bp1: 30em;
$bp1-5:35em;
$bp2: 49em;
$bp2-5: 55em;
$bp3: 62em;
$bp3-5: 74em;
$bp4: 82em;
$bp4-5: 86em;

// Colours
$color-brand-light: #6dbcdb;
$color-brand-mid: #77c462;
$color-brand-dark: #2c3e50;
$color-brand-highlight: #fc4349;

$color-text: $color-brand-dark;
$color-comp: $color-brand-light;
$color-background: #33485d;
$color-background-light: #f7f7f7;
$color-background-mid: #EBE9E9;

$color-link: $color-brand-dark;
$color-link-visited: #316CB2;
$color-link-hover: #222;

// Typography
$baseline: 2em;
$font-sans: "proxima-nova", "Proxima Nova", sans-serif;
$font-serif: "Georgia", serif;

// Borders
$color-keyline: #ccc;

// Layout
$container-max-width: 68.5em;
$media-img-gutter: 2em;
$island-padding: 1.5em;
$islet-padding: $island-padding / 2;

// Asset fonts
$icon-font-url: "../fonts/connectd";
$icon-font-family: "connectd";

// Off canvas
$ofc-width-large: 80%;
$ofc-width-small: 40%;