/* Article
----------------------------------*/

.article__heading-bg {
	background-color: #f0eded;
	font-size: .8em;
	font-weight: 500;
	padding-left: 5%;
	padding-right: 5%;
	line-height: 2;
	margin-bottom: 1.8em;
	margin-top: 0;
}


.article__heading {
	margin: 0;
	position: relative;
	li {
		display: inline-block;
		*display: inline;
		zoom: 1;
		margin-bottom: 0;
		position: relative;
		padding: .5em 1.4em .4em;
		&.article__heading--label {
			padding-right: 0;
			@extend %info;
		}
		a {
			color: #7f7e7e;
		}
		&.active {
			color: white;
			a {
				color: white;
			}
			&:after {
				content: "";
				width: 0; 
				height: 0; 
				border-left: .75em solid transparent;
				border-right: .75em solid transparent;
				border-top: .75em solid inherit;
				position: absolute;
				bottom: -.7em;
				left: 50%;
				margin-left: -.75em;
			}
		}
	}
}

.article__heading--list {
	font-size: .9em;
	line-height: 2.4;
	.article__heading--list-item {
		display: inline-block;
		@include respond-max($bp3) {
			display: none;
			&:last-child {
				display: inline-block;
			}
		}
		@include respond-max($bp2) {
			display: inline-block;
		}
		@include respond-max($bp1) {
			display: none;
			&:last-child {
				display: inline-block;
			}
		}
	}
}

.article__heading--alt {
	li {
		&.active {
			color: white;
		}
	}
}

.active--blue {
	background-color: $color-brand-light;
	&:after {
		border-top: .75em solid $color-brand-light;
	}
}
.active--green {
	background-color: $color-brand-mid;
	&:after {
		border-top: .75em solid $color-brand-mid;
	}
}
.active--navy {
	background-color: $color-brand-dark;
	&:after {
		border-top: .75em solid $color-brand-dark;
	}
}