.badge {
	border-radius: 10em;
	font-weight: 600;
	font-size: .9em;
	width: 3.5em; 
	height: 3.5em;
	h5 {
		margin: 0;
		line-height: 2.5em;
	}
	small {
		display: block;
		line-height: 0;
		font-size: .7em;
		margin-top: -.5em;
	}
}

.badge__inner {
	line-height: 3.5em;
	text-align: center;
	display: block;
}

.badge--small {
	width: 3em;
	height: 3em;
	h5 {
		line-height: 2.25em;
	}
}

.badge--left, .badge--right {
	top: -1.65em;
	position: absolute;
}

.badge--left {
	left: -1.65em;
	@include respond-max($bp3) {
		top: -1.1em;
		left: -1.1em;
	}
	@include respond-max($bp1) {
		left: -.6em;
	}
}

.badge--right {
	right: -1.65em;
	left: auto;
	@include respond-max($bp1) {
		top: -1.1em;
		right: -1.1em;
	}
	@include respond-max($bp1) {
		right: -.6em;
	}
}

.badge--price-per-hour {
	margin-top: .35em;
	h5 {
		margin: 0;
		text-align: center;
		font-weight: 600;
	}
	span {
		font-size: .7em;
		display: block;
		line-height: .9;
	}
}
