/* Buttons
----------------------------------*/

.btn--red { 
	background-color: $color-brand-highlight;  
	@include box-shadow(0 .18em 0 darken($color-brand-highlight, 20%));
	border: 1px solid darken($color-brand-highlight, 10%);
	border-bottom: none;
	&:hover {
		@include box-shadow(0 .1em 0 darken($color-brand-highlight, 20%))
	}
}
.btn--blue { 
	background-color: $color-brand-dark;  
	@include box-shadow(0 .18em 0 darken($color-brand-dark, 20%));
	border: 1px solid darken($color-brand-dark, 10%);
	border-bottom: none;
	&:hover {
		@include box-shadow(0 .1em 0 darken($color-brand-dark, 20%))
	}
}
.btn--green, input[type=submit] { 
	background-color: $color-brand-mid; 
	@include box-shadow(0 .18em 0 darken($color-brand-mid, 20%));
	border: 1px solid darken($color-brand-mid, 10%);
	border-bottom: none;
	&:hover {
		@include box-shadow(0 .1em 0 darken($color-brand-mid, 20%))
	}
}

.btn--action {
	margin-top: .68em;
	margin-right: 1em;
	font-size: .7em;
	font-weight: 500;
	color: white;
	line-height: 2.5;
	@include border-radius;
	background-color: darken($color-brand-mid, 20%); 
	padding: 0 1em;
	@include box-shadow(inset 0 0 .1em transparent);
	border: 1px solid darken($color-brand-mid, 30%);
	@include transition(all .2s ease-in-out);
	&:hover {
		top: 0;
		@include box-shadow(inset 0 0 .1em darken($color-brand-mid, 40%));
		@include transition(all .2s ease-in-out);
	}
	&:visited, &:hover {
		color: white;
	}
}

.btn--small {
	margin-left: 0;
	margin-right: 0;
	padding: .6em 1.5em;
	margin-top: 1em;
}

.button-wrapper {
	text-align: center;
	@include respond-max($bp2) {
		margin-bottom: 1em;
	}
	@include respond-max($bp1) {
		margin-bottom: 0;
	}
}

.button--left, .button--right {
	margin-left: 1em;
	margin-right: 1em;
	display: inline-block;
	@include respond-max($bp4) {
		margin: .5em 0;
		padding: .9em 1.5em .8em;;
		&:first-child {
			margin-top: 0;
		}
		&:last-child {
			margin-bottom: 0;
		}
	}
	@include respond-max($bp1) {
		margin-left: .5em;
		margin-right: .5em;
	}
}