/* Content only pages
----------------------------------*/

.section-heading {
	height: 15em;
	padding-top: 1.5em;
}

.content-overlay {
	background-color: $color-background-light;
	color: $color-brand-dark;
	padding: 2em;
	position: relative;
	margin-top: -8.5em;
	margin-bottom: 5em;
	@include respond-max($bp1-5) {
		margin-top: -9em;
		width: 80%;
		margin-left: auto;
		margin-right: auto;
		padding: 1.25em 1.25em 1.75em;
	}
	form {
		margin-bottom: 0;
	}
	&:after {
		content: "";
		background-image: url("../img/container-footer.svg");
		display: block;
		position: absolute;
		height: 2.5em;
		width: 100%;
		left: 0;
		bottom: -2.5em;
		@include background-size(cover);
	}
}

.content-overlay > *:last-child,
.content-overlay > *:last-child > *:last-child,
.content-overlay > *:last-child > *:last-child > *:last-child {
  margin-bottom: 0;
}