/* Dashboard panel
----------------------------------*/

.dashboard-panel {
	margin-bottom: 2em;
	.media-wrapper {
		max-height: 17em;
		overflow-y: scroll;	
	}
	.media-wrapper--tall {
		max-height: 25em;
	}
	::-webkit-scrollbar {
      width: .5em;
      @include respond-max($bp1) {
      	width: .25em;
      }
	}
	::-webkit-scrollbar-track {
	      background-color: transparent;
	}
	::-webkit-scrollbar-thumb {
	      background-color: rgba($color-brand-dark, .3);
	}
}

.dashboard-panel__header {
	h1, h2, h3, h4 {
		margin: 0;
		color: white;
		font-size: .95em;
		padding: .7em 1em;
		a {
			color: white;
		}
	}	
}
