/* Flag Object - http://csswizardry.com/2013/05/the-flag-object/
----------------------------------*/

.flag-wrapper {
	margin: 1em;
}

.flag {
    display: table;
    width: 100%;
}

    .flag__image,
    .flag__body {
        display: table-cell;
        vertical-align: middle;
        h1,h2,h3,h4,p {
			margin-top: 0;
			margin-bottom: 0;
		}

        .flag--top & {
            vertical-align: top;
        }

        .flag--bottom & {
            vertical-align: bottom;
        }

    }

    .flag__image, .flag__button {
        padding-right: 10px;

        > img {
            display: block;
            max-width: none;
        }

        .flag--rev & {
            padding-right: 0;
            padding-left: 10px;
        }

    }

    .flag__body {
        width: 100%;
    }