/* Header
----------------------------------*/

.header {
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 5;
	background-color: $color-brand-dark;
	@include respond-max($bp1) {
		margin-bottom: 1.5em;
	}
}

.header__nav {
	@include box-sizing(border-box);
	position: absolute;
	top: 3em;
	z-index: 999;
	line-height: 2.5em;
	ul {
		color: white;
		list-style: none;
		margin: 0;
		li {
			margin-bottom: 0;
			overflow-x: hidden;
			font-size: .75em;
			@include respond-max($bp2) {
				font-size: .95em;
			}
			a {
				display: block;
				color: white;
				line-height: 2.5;
				width: 100%;
				padding: .5em 1.5em;
				@include transition(all, .5s);
				@include box-sizing(border-box);
				&:hover {
					@include transition(all, .5s);
					padding-left: 2.25em;
				}
			}
		}
	}
}


.header-blue--alt {
	background-color: #51abd0;
	li a:hover {
		background-color: darken(#51abd0, 5%);
	}
}

.header-navy--alt {
	background-color: #253546;
	li a:hover {
		background-color: darken(#253546, 5%);
	}
}

.header-green--alt {
	background-color: #6bad55;
	li a:hover {
		background-color: darken(#6bad55, 5%);
	}
}

.header-section, .footer__section {
	line-height: 3em;
	margin-top: 0;
	margin-bottom: 0;
	color: white;
	font-size: 1em;
	position: relative;
	a {
		color: white;
	}

}

.header-section__title{
	margin-top: 0;
	margin-bottom: 0;
	color: white;
	display: inline-block;
	.header__section--title__link {
		color: white;
		font-size: .6em;
		vertical-align: middle;
	}
	@include respond-max($bp1) {
		max-width: 7em;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

.header-section__title {
	font-size: 1em;
	line-height: 3;
}

.header-section__title--link {
	font-size: .75em;
}

.header-section__tittle--username {
	text-transform: capitalize;
}

.header-section__title--username, .header-section__title--brand {
	@include respond-max($bp1) {
		display: none;
	}
}

.header-section--notifications {
	background-color: $color-brand-highlight;
	padding: 0 .7em;
	float: right;
	font-size: .8em;
	margin-top: .9em;
	line-height: 2.1;
	@include border-radius(.2em);
	&:after {
		content: "";
		width: 0;
		height: 0;
		border-top: .5em solid transparent;
		border-bottom: .5em solid transparent;
		border-left: 0.5em solid $color-brand-highlight;
		position: absolute;
		right: -.5em;
		top: .5em;
	}
}

.header-section--left {
	float: left;
}

.header-section--right {
	float: right;
	margin-left: 1.2em;
}

.header-section__avatar {
	width: 1.5em;
	height: 1.5em;
	border-radius: 10em;
	@include background-size(cover);
	background-repeat: no-repeat;
	vertical-align: middle;
	background-position: center center;
	display: inline-block;
	background-color: #eeeeee;
	margin-right: .5em;
	@include respond-max($bp1) {
		margin-right: 0;
	}
}

.header-section__home {
	&:after {
		@extend %icon-after;
		content: '\e80d';
		margin-left: .8em;
		top: 0;
		margin-right: 0;
	}
}
