@import "./libs/animate";

/* Homepage
----------------------------------*/

.site-intro {
	min-height: 100%;
	min-height: 100vh;
	background-image: url("../img/bg.jpg");
	@include background-size(cover);
	background-position: center;
	padding: 15% 5%;
	@include box-sizing(border-box);
	@include respond-min($bp3) {
		@include background-size(100%);
	}
	@include respond-max($bp3) {
		padding: 30% 5%;
	}
	@include respond-max($bp1) {
		padding: 50% 5%;
	}
}

.site-intro__content {
	position: relative;
	text-align: center;
	@include respond-max($bp2) {
		top: 33.33%;
		width: 80%;
		margin: auto;
	}
}

.site-intro__logo {
	@include respond-min($bp2) {
		max-width: 55%;
	}
	@include respond-min($bp4) {
		max-width: 50%;
	}
	margin-bottom: $baseline;
}

.site-intro__heading {
	font-size: 7em;
	color: white;
	text-align: center;
	margin-bottom: 0;
	@include respond-max($bp2) {
		font-size: 3em;
	}
}

.site-intro__sub-heading {
	font-size: 1.5em;
	font-weight: 500;
	color: white;
	text-align: center;
	font-style: italic;
	font-family: $font-serif;
	margin-bottom: $baseline/2;
	&:after {
		@extend .bounce;
		content: "";
		width: 0; 
		height: 0; 
		border-left: .25em solid transparent;
		border-right: .25em solid transparent;
		border-top: .25em solid white;
		position: absolute;
		bottom: -50%;
		left: 50%;
		margin-left: -.45em;
		@include respond-max($bp2) {
			border-left: .35em solid transparent;
			border-right: .35em solid transparent;
			border-top: .35em solid white;
			margin-left: -.35em;
			bottom: -25%;
		}
	}
	@include respond-max($bp2) {
		font-size: 1.4em;
	}
}

.site-intro__link {
	color: white;
	&:hover {
		background-color: white;
		color: $color-brand-dark;
	}
	&:visited {
		color: white;
	}
}