@import "./libs/animate";

/* Homepage
----------------------------------*/

.site-intro {
	height: 100%;
	height: 100vh;
	background-image: url("../img/bg.jpg");
	@include background-size(cover);
	background-position: center;
	@include respond-min($bp3) {
		@include background-size(100%);
	}
}

.site-intro__wrap {
	position: relative;
	top: 30%;
	text-align: center;
	@include respond-max($bp2) {
		top: 33.33%;
		width: 80%;
		margin: auto;
	}
}

.site-intro__heading {
	font-size: 7em;
	color: white;
	text-align: center;
	margin-bottom: 0;
	@include respond-max($bp2) {
		font-size: 3em;
	}
}

.site-intro__sub-heading {
	font-size: 1.5em;
	font-weight: 500;
	color: white;
	text-align: center;
	font-style: italic;
	font-family: $font-serif;
	&:after {
		content: "";
		width: 0; 
		height: 0; 
		border-left: .25em solid transparent;
		border-right: .25em solid transparent;
		border-top: .25em solid white;
		position: absolute;
		bottom: -50%;
		left: 50%;
		margin-left: -.45em;
		@include respond-max($bp2) {
			border-left: .55em solid transparent;
			border-right: .55em solid transparent;
			border-top: .55em solid white;
			margin-left: -.55em;
		}
	}
	@include respond-max($bp2) {
		font-size: 1em;
	}
}

.site-intro__link {
	color: white;
	&:visited {
		color: white;
	}
}

.text-right, .text-left {
	margin-top: 1.4em;
	margin-bottom: 0;
	font-size: 1em;
	position: fixed;
	a {
		color: white;
	}
	@include respond-max($bp1) {
		margin-top: 1em;
	}
}

.text-right {
	text-align: right;
	right: 2.5em;
	position: absolute;
	top: 0;
	@include respond-max($bp1) {
		margin-top: 1em;
		right: 1em;
	}
}

.text-left {
	text-align: left;
	left: 2.5em;
	position: absolute;
	top: 0;
	@include respond-max($bp1) {
		margin-top: 1em;
		left: 1em;
	}
}

.panel {
	text-align: center;
	a {
		display: block;
		@include transform(translateY(-.7em));
		@include transition(all .2s ease-in-out);
		@include respond-max($bp3) {
			@include transform(translateY(0em));;
		}
		span {
			opacity: 0;
			@include transition(opacity .2s ease-in-out);
			@include respond-max($bp3) {
				opacity: 1;
			}
		}
		&:hover {
			@include transform(translateY(0));
			span {
				opacity: 1;
				@include transition(opacity .2s ease-in-out);
			}
			@include transition(all .2s ease-in-out);
		}
	}
}

.panel--designer {
	background-color: $color-brand-light;
}

.panel--developer {
	background-color: $color-brand-dark;
}

.panel--employer {
	background-color: $color-brand-mid;
}

.panel__title {
	font-size: 2.8em;
	margin-bottom: 0;
	max-width: 6em;
	margin-left: auto;
	margin-right: auto;
	color: white;
	a {
		color: white;
	}
	@include respond-max($bp4) {
		font-size: 2.2em;
	}
	@include respond-max($bp3-5) {
		font-size: 2em;
	}
}

.panel__landing-page {
	font-size: 6em;
	@include respond-max($bp2) {
		font-size: 4em;
	}
	@include respond-max($bp1) {
		font-size: 2em;
	}
}