@import "./libs/animate";

/* Homepage
----------------------------------*/

.site-intro {
	min-height: 100%;
	background-image: url("../img/bg.jpg");
	@include background-size(cover);
	background-position: center;
	position: relative;
	overflow: hidden;
	@include box-sizing(border-box);
	@include respond-min($bp3) {
		min-height: 100vh;
		@include background-size(100%);
	}
}

.site-intro__content {
	text-align: center;
	position: absolute;
	top: 27%;
	width: 100%;
	padding: 0 2em;
	@include box-sizing(border-box);
}

.site-intro__link {
	color: white;
	border-bottom: 1px solid transparent;
	@include transition(border, .5s);
	&:hover {
		color: white;
		border-bottom: 1px solid white;
		@include transition(border, .5s);
	}
	&:visited {
		color: white;
	}
}

.site-intro__logo {
	width: 39em;
	@include box-sizing(border-box);
	margin-bottom: $baseline;
	@include respond-min($bp1) {
		padding: 0 4em;
	}
}

.site-intro__heading {
	font-size: 7em;
	color: white;
	text-align: center;
	margin-bottom: 0;
	@include respond-max($bp2) {
		font-size: 3em;
	}
}

.site-intro__sub-heading {
	font-size: 1.5em;
	font-weight: 500;
	color: white;
	text-align: center;
	font-style: italic;
	font-family: $font-serif;
	margin-bottom: $baseline/2;
	&:after {
		animation: bounce 1s .5s infinite;
		-webkit-animation: bounce 1s .5s infinite;
		-moz-animation: bounce 1s .5s infinite;
		-o-animation: bounce 1s .5s infinite;
		content: "";
		width: 0; 
		height: 0; 
		border-left: .25em solid transparent;
		border-right: .25em solid transparent;
		border-top: .25em solid white;
		position: absolute;
		bottom: -50%;
		left: 50%;
		margin-left: -.45em;
		@include respond-max($bp2) {
			border-left: .35em solid transparent;
			border-right: .35em solid transparent;
			border-top: .35em solid white;
			margin-left: -.35em;
			bottom: -25%;
		}
	}
	@include respond-max($bp2) {
		font-size: 1.2em;
	}
}

.site-intro__text {
	margin-top: 1.4em;
	margin-bottom: 0;
	font-size: 1em;
	position: fixed;
	top: 0;
	a {
		color: white;
	}
	@include respond-max($bp1) {
		margin-top: 1em;
	}
}

.site-intro__text--right {
	text-align: right;
	right: 2.5em;
	@include respond-max($bp1) {
		right: 1.5em;
	}
}

.site-intro__text--left {
	text-align: left;
	left: 2.5em;
	@include respond-max($bp1) {
		left: 1.5em;
	}
}