/* Nav Objects - http://goo.gl/QjtO6
----------------------------------*/

.nav{
	@extend .list-unset, .cf;
}

.nav--inline { @include nav-inline; }
.nav--divided { @include nav-divided; }
.nav--stacked { @include nav-stacked; }
	
// create blocked links
.nav--blocked a {
	display: block;
	padding: .5em;
	background-color: #F5F5F5; 
}

.nav-toggle {
	color: white;
	margin-bottom: 0;
	display: block;
	&:visited, &:hover {
		color: white;
	}
	&:active {
		top: 0;
	}
}

.nav-toggle--divide {
	padding: 0 .5em;
	margin: 0 1em 0 0;
	border-right: 1px solid rgba(white,.2);
	padding-right: 1em;
	float: left;
	font-size: .8em;
	font-weight: 600;
	cursor: pointer;
}

.nav-toggle--close {
	line-height: 3;
	padding-left: 1.5em;
	background-color: rgba(white,.1);
	&:after {
		content: "Close";
		font-size: .8em;
		font-weight: 600;
	}
}

.nav-toggle--open {
	font-size: 1em;
	&:after {
		content: "Menu";
		font-size: .8em;
		font-weight: 600;
	}
}


/* Primary Nav
----------------------------------*/
.nav--primary {
	@include respond-min($bp1) {
		@include nav-inline; }
}