.overlay {
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(black, 0.4);
	height: 100%;
	width: 100%;
	z-index: 5000;
	display: none;
	@include respond-max($bp4) {
		position: absolute;
	}
}

.overlay__inner {
	@include transition(all .2s ease-in-out);
	background-color: white;
	margin: auto;
	position: relative;
	width: 75%;
	height: auto;
	padding: 1.5em;
	margin-top: 5.5%;
	input:not([type=submit]), textarea {
		background-color: $color-background-light;
		font-size: .8em;
	}
	input:not([type=submit]):not([type=checkbox]), textarea {
		padding: 1em;
		margin-top: 0;
	}
	textarea {
		line-height: 1.5;
	}
	@include respond-max($bp1-5) {
		width: 80%;
	}
	.icon--cancel {
		float: right;
		margin-right: 0;
		&:before {
			margin-right: 0;
		}
		@include respond-min($bp1) {
			margin-right: -3em;
			margin-top: -1.9em;
			color: white;	
		}
	}
}

.overlay__innner--animate {
	top: 0;
	@include transition(all .2s ease-in-out);
}

.overlay__inner--small {
	width: 20%;
	@include respond-max($bp3-5) {
		width: 30%;
	}
	@include respond-max($bp2) {
		width: 75%;
	}
}

.overlay__inner--mid {
	width: 50%;
	@include respond-max($bp3-5) {
		width: 70%;
	}
	@include respond-max($bp2) {
		width: 80%;
	}
}

.overlay > *:last-child,
.overlay > *:last-child > *:last-child,
.overlay > *:last-child > *:last-child > *:last-child {
  margin-bottom: 0;
}

.overlay__title {
	margin-top: 0;
	font-weight: 600;
}