/* Sidebar
----------------------------------*/

.user-module__header {
	@include box-sizing(border-box);
	@include respond-max($bp2) {
		float: left;
		width: 40%;	
		padding: 0em 1em;	
	}
	@include respond-max($bp1-5) {
		float: none;
		width: 100%;
	}
}

.user-module__info {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	padding: 1.5em;
	@include box-sizing(border-box);
	p {
		font-size: .9em;
		margin-bottom: 1em;
		word-break: break-word;
	}
	@include respond-max($bp2) {
		float: right;
		width: 60%;	
	}
	@include respond-max($bp1-5) {
		float: none;
		width: 100%;
	}
}

.user-module__info--full {
	float: none;
	width: 100%;
}

.user-module__buttons {
	padding-top: 1.5em;
}

.user-module__avatar {
	@include background-size(cover);
	@include respond-max($bp2) {
		border-radius: 20em;
		width: 8em;
		height: 8em;
		margin-top: 1.5em;
		margin-bottom: .75em;
		margin-left: auto;
		margin-right: auto;
	}
	img {
		visibility: hidden;
		width: 100%;
	}
}

.user-module__logo {
	img {
		width: auto;
		max-width: 10em;
		margin-bottom: $baseline/2;
	}
}

.portfolio, .user-module, .dashboard-panel {
	background-color: $color-background-light;
	@include box-sizing(border-box);
	position: relative;
	h4:last-child {
		margin-bottom: 0;
	}
}

.user-module__title {
	text-transform: capitalize;
	font-size: 1.35em;
	margin: 0 0 .2em;
	font-weight: 600;
	a {
		color: $color-brand-dark;
		@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
			background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 2px, #333333 2px, #333333 2.5px, rgba(0, 0, 0, 0) 2.5px);
		}
		text-shadow: -1px -1px 0 $color-background-light, 1px -1px 0 $color-background-light, -1px 1px 0 $color-background-light, 1px 1px 0 $color-background-light;
		background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 2px, #333333 2px, #333333 3px, rgba(0, 0, 0, 0) 3px);
	}
}

.user-module__title--alt {
	font-size: 1.1em;
	text-align: center;
	margin-bottom: .5em;
}

.user-module__label {
	font-size: .9em;
	margin-top: 0;
	margin-bottom: $baseline/3;
	font-weight: 500;
	a {
		color: $color-brand-dark;
		@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
			background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 2px, #333333 2px, #333333 2.5px, rgba(0, 0, 0, 0) 2.5px);
		}
		text-shadow: -1px -1px 0 $color-background-light, 1px -1px 0 $color-background-light, -1px 1px 0 $color-background-light, 1px 1px 0 $color-background-light;
		background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 2px, #333333 2px, #333333 3px, rgba(0, 0, 0, 0) 3px);
	}
}

.user-module--employer {
	@include respond-max($bp2) {
		margin-bottom: $baseline;
		margin-top: $baseline;
		&:first-child {
			margin-top: 0;
		}
	}
}

.user-module--trial-user {
	@include respond-max($bp1) {
		max-width: 85%;
		margin: auto;
	}
}