@import "./libs/animate";

/* Homepage
----------------------------------*/

.welcome-intro {
	height: 100%;
	background-image: url("../img/handheld.jpg");
	@include background-size(cover);
	background-position: center;
	position: relative;
	@include respond-min($bp3) {
		@include background-size(cover);
		background-attachment: fixed;
	}
}

.welcome-message {
	width: 45%;
	margin-left: 5em;
	color: white;
	padding-top: 15%;
	@include respond-max($bp3) {
		padding-top: 25%;
		margin: auto;
		width: 80%;
	}
	@include respond-max($bp1) {
		width: 80%;
	}
}

.welcome-message__title {
	margin-top: 0;
	font-family: $font-serif;
	font-style: italic;
	text-transform: capitalize;
}