# 404
ErrorDocument 404 /Connectd/htdocs/index.php?p=404

# Login
RewriteRule ^login/$ /Connectd/htdocs/login.php
RewriteRule ^login/logged-out/$ /Connectd/htdocs/login.php?status=logged

# Sign Up pages
RewriteRule ^designer/sign-up/$ /Connectd/htdocs/freelancers/signup.php?usertype=designer
RewriteRule ^developer/sign-up/$ /Connectd/htdocs/freelancers/signup.php?usertype=developer
RewriteRule ^employers/sign-up/$ /Connectd/htdocs/employers/signup.php

# Profile pages
RewriteRule ^developer/profile/([0-9]+)/$ /Connectd/htdocs/profile.php?usertype=developer&id=$1
RewriteRule ^designer/profile/([0-9]+)/$ /Connectd/htdocs/profile.php?usertype=designer&id=$1
RewriteRule ^employer/profile/([0-9]+)/$ /Connectd/htdocs/profile.php?usertype=employer&id=$1

# Job pages
RewriteRule ^job/([0-9]+)/(.*)/$ /Connectd/htdocs/jobs/index.php?id=$1&name=$2
RewriteRule ^job/post/$ /Connectd/htdocs/jobs/post.php

RewriteRule ^edit-profile/$ /Connectd/htdocs/edit-profile.php
RewriteRule ^account-settings/([0-9]+)/$ /Connectd/htdocs/account-settings.php?id=$1

RewriteRule ^(.*)/list/ /Connectd/htdocs/list.php?usertype=$1



Options +FollowSymlinks -Multiviews
RewriteEngine on