RewriteEngine On
RewriteRule ^designers/$ /Connectd/htdocs/designers/signup.php
RewriteRule ^designers/([0-9]+)/$ /Connectd/htdocs/designers/profile.php?id=$1

RewriteRule ^developers/$ /Connectd/htdocs/developers/signup.php
RewriteRule ^developers/([0-9]+)/$ /Connectd/htdocs/developers/profile.php?id=$1

RewriteRule ^employers/$ /Connectd/htdocs/employers/signup.php
RewriteRule ^employers/([0-9]+)/$ /Connectd/htdocs/employers/profile.php?id=$1

RewriteRule ^jobs/([0-9]+)/$ /Connectd/htdocs/jobs/index.php?id=$1

RewriteRule ^edit-profile/([0-9]+)/$ /Connectd/htdocs/edit-profile.php?id=$1
RewriteRule ^account-settings/([0-9]+)/$ /Connectd/htdocs/account-settings.php?id=$1

RewriteRule ^developers/list/ /Connectd/htdocs/developers/list.php
RewriteRule ^designers/list/ /Connectd/htdocs/designers/list.php
RewriteRule ^jobs/list/ /Connectd/htdocs/jobs/list.php

ErrorDocument 404 /Connectd/htdocs/404.php

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php

Options -Indexes
