@-webkit-keyframes bounceInLeft {
  /* line 2, ../../../scss/core/source/bounceInLeft.scss */
  0% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
  }

  /* line 3, ../../../scss/core/source/bounceInLeft.scss */
  60% {
    opacity: 1;
    -webkit-transform: translateX(30px);
  }

  /* line 4, ../../../scss/core/source/bounceInLeft.scss */
  80% {
    -webkit-transform: translateX(-10px);
  }

  /* line 5, ../../../scss/core/source/bounceInLeft.scss */
  100% {
    -webkit-transform: translateX(0);
  }
}

@-moz-keyframes bounceInLeft {
  /* line 9, ../../../scss/core/source/bounceInLeft.scss */
  0% {
    opacity: 0;
    -moz-transform: translateX(-2000px);
  }

  /* line 10, ../../../scss/core/source/bounceInLeft.scss */
  60% {
    opacity: 1;
    -moz-transform: translateX(30px);
  }

  /* line 11, ../../../scss/core/source/bounceInLeft.scss */
  80% {
    -moz-transform: translateX(-10px);
  }

  /* line 12, ../../../scss/core/source/bounceInLeft.scss */
  100% {
    -moz-transform: translateX(0);
  }
}

@-ms-keyframes bounceInLeft {
  /* line 16, ../../../scss/core/source/bounceInLeft.scss */
  0% {
    opacity: 0;
    -ms-transform: translateX(-2000px);
  }

  /* line 17, ../../../scss/core/source/bounceInLeft.scss */
  60% {
    opacity: 1;
    -ms-transform: translateX(30px);
  }

  /* line 18, ../../../scss/core/source/bounceInLeft.scss */
  80% {
    -ms-transform: translateX(-10px);
  }

  /* line 19, ../../../scss/core/source/bounceInLeft.scss */
  100% {
    -ms-transform: translateX(0);
  }
}

@-o-keyframes bounceInLeft {
  /* line 23, ../../../scss/core/source/bounceInLeft.scss */
  0% {
    opacity: 0;
    -o-transform: translateX(-2000px);
  }

  /* line 24, ../../../scss/core/source/bounceInLeft.scss */
  60% {
    opacity: 1;
    -o-transform: translateX(30px);
  }

  /* line 25, ../../../scss/core/source/bounceInLeft.scss */
  80% {
    -o-transform: translateX(-10px);
  }

  /* line 26, ../../../scss/core/source/bounceInLeft.scss */
  100% {
    -o-transform: translateX(0);
  }
}

@keyframes bounceInLeft {
  /* line 30, ../../../scss/core/source/bounceInLeft.scss */
  0% {
    opacity: 0;
    transform: translateX(-2000px);
  }

  /* line 31, ../../../scss/core/source/bounceInLeft.scss */
  60% {
    opacity: 1;
    transform: translateX(30px);
  }

  /* line 32, ../../../scss/core/source/bounceInLeft.scss */
  80% {
    transform: translateX(-10px);
  }

  /* line 33, ../../../scss/core/source/bounceInLeft.scss */
  100% {
    transform: translateX(0);
  }
}
