@-webkit-keyframes fadeOutDownBig {
  /* line 2, ../../../scss/core/source/fadeOutDownBig.scss */
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }

  /* line 3, ../../../scss/core/source/fadeOutDownBig.scss */
  100% {
    opacity: 0;
    -webkit-transform: translateY(2000px);
  }
}

@-moz-keyframes fadeOutDownBig {
  /* line 7, ../../../scss/core/source/fadeOutDownBig.scss */
  0% {
    opacity: 1;
    -moz-transform: translateY(0);
  }

  /* line 8, ../../../scss/core/source/fadeOutDownBig.scss */
  100% {
    opacity: 0;
    -moz-transform: translateY(2000px);
  }
}

@-ms-keyframes fadeOutDownBig {
  /* line 12, ../../../scss/core/source/fadeOutDownBig.scss */
  0% {
    opacity: 1;
    -ms-transform: translateY(0);
  }

  /* line 13, ../../../scss/core/source/fadeOutDownBig.scss */
  100% {
    opacity: 0;
    -ms-transform: translateY(2000px);
  }
}

@-o-keyframes fadeOutDownBig {
  /* line 17, ../../../scss/core/source/fadeOutDownBig.scss */
  0% {
    opacity: 1;
    -o-transform: translateY(0);
  }

  /* line 18, ../../../scss/core/source/fadeOutDownBig.scss */
  100% {
    opacity: 0;
    -o-transform: translateY(2000px);
  }
}

@keyframes fadeOutDownBig {
  /* line 22, ../../../scss/core/source/fadeOutDownBig.scss */
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  /* line 23, ../../../scss/core/source/fadeOutDownBig.scss */
  100% {
    opacity: 0;
    transform: translateY(2000px);
  }
}
