@-webkit-keyframes rotateInDownRight {
  /* line 2, ../../../scss/core/source/rotateInDownRight.scss */
  0% {
    -webkit-transform-origin: right bottom;
    -webkit-transform: rotate(90deg);
    opacity: 0;
  }

  /* line 3, ../../../scss/core/source/rotateInDownRight.scss */
  100% {
    -webkit-transform-origin: right bottom;
    -webkit-transform: rotate(0);
    opacity: 1;
  }
}

@-moz-keyframes rotateInDownRight {
  /* line 7, ../../../scss/core/source/rotateInDownRight.scss */
  0% {
    -moz-transform-origin: right bottom;
    -moz-transform: rotate(90deg);
    opacity: 0;
  }

  /* line 8, ../../../scss/core/source/rotateInDownRight.scss */
  100% {
    -moz-transform-origin: right bottom;
    -moz-transform: rotate(0);
    opacity: 1;
  }
}

@-ms-keyframes rotateInDownRight {
  /* line 12, ../../../scss/core/source/rotateInDownRight.scss */
  0% {
    -ms-transform-origin: right bottom;
    -ms-transform: rotate(90deg);
    opacity: 0;
  }

  /* line 13, ../../../scss/core/source/rotateInDownRight.scss */
  100% {
    -ms-transform-origin: right bottom;
    -ms-transform: rotate(0);
    opacity: 1;
  }
}

@-o-keyframes rotateInDownRight {
  /* line 17, ../../../scss/core/source/rotateInDownRight.scss */
  0% {
    -o-transform-origin: right bottom;
    -o-transform: rotate(90deg);
    opacity: 0;
  }

  /* line 18, ../../../scss/core/source/rotateInDownRight.scss */
  100% {
    -o-transform-origin: right bottom;
    -o-transform: rotate(0);
    opacity: 1;
  }
}

@keyframes rotateInDownRight {
  /* line 21, ../../../scss/core/source/rotateInDownRight.scss */
  0% {
    transform-origin: right bottom;
    transform: rotate(90deg);
    opacity: 0;
  }

  /* line 22, ../../../scss/core/source/rotateInDownRight.scss */
  100% {
    transform-origin: right bottom;
    transform: rotate(0);
    opacity: 1;
  }
}
