@-webkit-keyframes rotateInDownLeft {
  /* line 2, ../../../scss/core/source/rotateInDownLeft.scss */
  0% {
    -webkit-transform-origin: left bottom;
    -webkit-transform: rotate(-90deg);
    opacity: 0;
  }

  /* line 3, ../../../scss/core/source/rotateInDownLeft.scss */
  100% {
    -webkit-transform-origin: left bottom;
    -webkit-transform: rotate(0);
    opacity: 1;
  }
}

@-moz-keyframes rotateInDownLeft {
  /* line 7, ../../../scss/core/source/rotateInDownLeft.scss */
  0% {
    -moz-transform-origin: left bottom;
    -moz-transform: rotate(-90deg);
    opacity: 0;
  }

  /* line 8, ../../../scss/core/source/rotateInDownLeft.scss */
  100% {
    -moz-transform-origin: left bottom;
    -moz-transform: rotate(0);
    opacity: 1;
  }
}

@-ms-keyframes rotateInDownLeft {
  /* line 12, ../../../scss/core/source/rotateInDownLeft.scss */
  0% {
    -ms-transform-origin: left bottom;
    -ms-transform: rotate(-90deg);
    opacity: 0;
  }

  /* line 13, ../../../scss/core/source/rotateInDownLeft.scss */
  100% {
    -ms-transform-origin: left bottom;
    -ms-transform: rotate(0);
    opacity: 1;
  }
}

@-o-keyframes rotateInDownLeft {
  /* line 17, ../../../scss/core/source/rotateInDownLeft.scss */
  0% {
    -o-transform-origin: left bottom;
    -o-transform: rotate(-90deg);
    opacity: 0;
  }

  /* line 18, ../../../scss/core/source/rotateInDownLeft.scss */
  100% {
    -o-transform-origin: left bottom;
    -o-transform: rotate(0);
    opacity: 1;
  }
}

@keyframes rotateInDownLeft {
  /* line 22, ../../../scss/core/source/rotateInDownLeft.scss */
  0% {
    transform-origin: left bottom;
    transform: rotate(-90deg);
    opacity: 0;
  }

  /* line 23, ../../../scss/core/source/rotateInDownLeft.scss */
  100% {
    transform-origin: left bottom;
    transform: rotate(0);
    opacity: 1;
  }
}
