$old-ie: true;
$mqs-up-to: 65em;
@import "global";

/*----------------------------------------------------------------------------------------*\
 $.IE SPECIFIC STYLES
\*----------------------------------------------------------------------------------------*/
.lt-ie9 .container, {
	width: 960px; }

.header-section__avatar {
	display: none;
}