/* Homepage
----------------------------------*/

.logo {
	text-align: right;
	font-size: 1em;
	margin-top: 1.4em;
	margin-bottom: 0;
	right: 2em;
	position: fixed;
	a {
		color: white;
	}
}

.panel {
	text-align: center;
}

.panel--designer {
	background-color: $color-brand-light;
}

.panel--developer {
	background-color: $color-brand-dark;
}

.panel--employer {
	background-color: $color-brand-mid;
}

.panel--title {
	font-size: 2.8em;
	margin-bottom: 0;
	a {
		color: white;
	}
}