.overlay {
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(black, 0.4);
	height: 100%;
	width: 100%;
	z-index: 5000;
}

.overlay__inner {
	background-color: white;
	margin: auto;
	position: relative;
	width: 50%;
	height: auto;
	padding: 1.5em;
	margin-top: 6%;
	input:not([type=submit]), textarea {
		background-color: $color-background-light;
		font-size: .8em;
		padding: 1em;
		margin-top: 0;
	}
	textarea {
		line-height: 1.5;
	}
	@include respond-max($bp3-5) {
		width: 75%;
	}
	@include respond-max($bp1-5) {
		width: 80%;
	}
}

.overlay__inner--small {
	width: 20%;
	@include respond-max($bp3-5) {
		width: 30%;
	}
	@include respond-max($bp2) {
		width: 75%;
	}
}

.overlay > *:last-child,
.overlay > *:last-child > *:last-child,
.overlay > *:last-child > *:last-child > *:last-child {
  margin-bottom: 0;
}

.overlay__title {
	margin-top: 0;
	font-weight: 600;
}